     <div class="w3-container">
       <h2>
         Upload Documents
       </h2>
       <ul class="uploads">
         <li *ngFor="let upload of uploads" class="uploads__item">
           <a [href]="upload.url" target="_blank" class="uploads__link">
             {{ upload.name }}
           </a>
           <span class="uploads__size">
             ( Size: {{ upload.size | number }} bytes )
           </span>
         </li>
       </ul>

       <div class="w3-container" *ngIf="data">
         <div class="w3-panel w3-round-small w3-teal">
           Upload By Authorized User
           <input #fileInputAuthorized type="file" [multiple]="true" class="upload__input" (change)="
          uploadFiles(fileInputAuthorized.files);
          fileInputAuthorized.value = null
        " />

           Upload By Unauthorized User
           <input #fileInput type="file" [multiple]="true" class="upload__input" (change)="
          uploadUnauthorizedUserFiles(fileInput.files); fileInput.value = null
        " />
         </div>
         <div class="w3-panel w3-green" *ngIf="data.length === 0">
           <p>
             No files found
           </p>
         </div>
         <div class="w3-panel w3-light-grey w3-padding-16 w3-card-2" *ngIf="data.length != 0">
           <table class="w3-table w3-striped w3-bordered">
             <tr>
               <th><i class="w3-medium custom-icon"></i> File No.</th>
               <th>
                 <i class="w3-medium custom-icon fa fa-envelope-o"></i> File Name
               </th>
               <th><i class="w3-medium custom-icon fa fa-shield"></i> File Size</th>
               <th><i class="w3-medium custom-icon fa fa fa-user"></i> User</th>
               <th>
                 <i class="w3-medium custom-icon fa fa-calendar"></i>
                 LastAccessedDate
               </th>
               <th><i class="w3-medium custom-icon fa fa-pencil"></i> Download</th>
             </tr>
             <tr *ngFor="let file of data; index as i" appHighlightStudent>
               <td>{{ i + 1 }}</td>
               <td class="pointer">{{ file.FileName }}</td>
               <td class="pointer">{{ file.FileSize }}</td>
               <td class="pointer">{{ file.LastAccessedUser }}</td>
               <td class="pointer">
                 {{ file.LastAccessedDate | date: "MM/dd/yyyy @ h:mma" }}
               </td>
               <td>
                 <button (click)="downloadFile(file.ID, file.FileName)" class="w3-button w3-blue">
                   Download
                 </button>
               </td>
             </tr>
           </table>
         </div>
       </div>
     </div>
