<!-- Created By : Sangwin Gawande (http://sangw.in) -->

<div class="w3-container">
  <!-- <div class="upload">
    <span class="upload__label">
      Select File(s) to Upload
    </span>

    <input #fileInput type="file" [multiple]="true" class="upload__input"
      (change)="uploadFiles( fileInput.files ) ; fileInput.value = null;" />
  </div> -->

  <h2>
    Uploads
  </h2>

  <ul class="uploads">
    <li *ngFor="let upload of uploads" class="uploads__item">

      <a [href]="upload.url" target="_blank" class="uploads__link">
        {{ upload.name }}
      </a>
      <span class="uploads__size">
        ( Size: {{ upload.size | number }} bytes )
      </span>

    </li>
  </ul>


  <div class="w3-container" *ngIf="data">
    <div class="w3-panel w3-round-small w3-teal">
      <input #fileInput type="file" [multiple]="true" class="upload__input"
        (change)="uploadFiles( fileInput.files ) ; fileInput.value = null;" />

    </div>
    <div class="w3-panel w3-green" *ngIf="(data | filter:filterData).length === 0">
      <h3>Oh no</h3>
      <p>No files found <span *ngIf="filterData"> with search "{{filterData}}"</span> </p>
    </div>
    <div class="w3-panel w3-light-grey w3-padding-16 w3-card-2"
      *ngIf="(data | filter:filterData | filter:filterData).length != 0">
      <table class="w3-table w3-striped w3-bordered">
        <tr>
          <th><i class="w3-medium custom-icon fa fa-refresh"></i> File No.</th>
          <th><i class="w3-medium custom-icon fa fa-user"></i> File Name</th>
          <th><i class="w3-medium custom-icon fa fa-user"></i> File Size</th>
          <th><i class="w3-medium custom-icon fa fa-envelope-o"></i> User</th>
          <th><i class="w3-medium custom-icon fa fa-phone"></i> LastAccessedDate</th>
          <th><i class="w3-medium custom-icon fa fa-pencil"></i> Download</th>
        </tr>
        <tr *ngFor="let file of data | filter:filterData; index as i;" appHighlightStudent>
          <td>{{i +1}}</td>
          <td class="pointer" [routerLink]="['detail', i]">{{file.FileName}} </td>
          <td class="pointer" [routerLink]="['detail', i]">{{file.FileSize}}</td>
          <td class="pointer" [routerLink]="['detail', i]">{{file.LastAccessedUser}}</td>
          <td class="pointer" [routerLink]="['detail', i]">{{file.LastAccessedDate}}</td>
          <td><button (click)="downloadFile(file.ID,file.FileName);" class="w3-button w3-blue">Download</button></td>
        </tr>
      </table>
    </div>
  </div>
</div>
